

/*catch all*/
img, embed,
object, video {
  max-width: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: #131A2D;
  font-weight: 400;
}

hr {
  border: solid 3px #131A2D;
  margin: 5px 15px 15px 15px;
}

.text-thick {
  font-weight: bolder;
}

.text-thin {
  font-weight: 100;
}

.background-color {
  background-color: #131A2D;
  color: #CFC3AC;
}

.pad {
  padding: 25px;
}

.pad-top {
  padding-top: 25px;
}